<% include partials/header %>

<h1> List of all items </h1>

<a href="/items/new"> Add new item </a>
<% items.forEach(item => { %>
  <div>
    <h4>
      <%= item.name %>
    </h4>
    <img src="<%= item.image %>">
  </div>
<% }); %>
<a href="/"> Home </a>


<% include partials/footer %>
